/led_blink_advenced.X/dist/
/led_blink_advenced.X/build/
/buton_ile_led_kontrol.X/build/
/buton_ile_led_kontrol.X/dist/
/timer_kullanimi.X/build/
/timer_kullanimi.X/dist/
/timer1_kullanimi.X/dist/
/timer1_kullanimi.X/build/